appdirs==1.4.4
distlib==0.3.0
filelock==3.0.12
importlib-metadata==1.6.0
importlib-resources==1.5.0
six==1.15.0
virtualenv==20.0.21
Django==2.1.15
django-cors-headers==3.3.0
django-rest-knox==4.1.0
djangorestframework==3.11.0
Flask==1.1.2
h5py==2.10.0
Keras==2.2.5
numpy==1.18.4
pandas==1.0.4
tensorflow==2.9.3


